BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4

PointerAlignment: Left
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive

# NamespaceIndentation: All
InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterClass: false
    AfterControlStatement: false
